div.list-header {
    padding-left: 15px;
}

div.list-container {
    user-select: none;
}

div.list-button, a.page-link {
    cursor: pointer;
    user-select: none;
}

div.list-last-col {
    text-align: right;
}

div.list-button > div.list-last-col {
    padding-right: 0;
}

ul.pagination {
    margin-top: 1em;
    display: inline-flex;
}

nav.pagination-container {
    text-align: center;
}

ul.pagination > li.active {
    color: aqua;
}